.indextitle{
    font-size: 45px;
    color:white;
    padding-top:12ch;
    text-align:center;
}

.colortitle{
    color:white;
    font-size:55px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 34%;
    }
.centerbutton {
    justify-self:center; 
    justify-items: center;
    align-content: center; 
    text-align:center;
}

.button1 {
    background-color:blueviolet;
    font-size:25px;
    color:whitesmoke;
    margin-top:2ch;
    margin-right: 20px;
    margin-left: 20px;
    align-content:center;
    padding:5px;
    border-color:blueviolet;
}



/* scam buttons positioning*/
#topleft{
    position:absolute;
    margin:10px;
    left: 10px;
    top: 10px;
}
#topright{
    display:flex;
    position:absolute;
    margin:10px;
    right: 10px;
    top: 10px;
}
#bottomleft{
    position:absolute;
    margin:10px;
    left: 10px;
    bottom: 10px;
}
#bottomright{
    position:absolute;
    margin:10px;
    right: 10px;
    bottom: 10px;
}
/* scam buttons styling */
.scamstyling{
    background-color:blue;
    padding: 20px;
}

.textstyle{
    font-size:35px;
    color:yellow;
}

#indexbg {
    background-image: url(/static/shockgif.gif);
}