.indextitle{
    font-size: 45px;
    padding-top:12ch;
    text-align:center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 34%;
    }
.centerbutton {
    justify-self:center; 
    justify-items: center;
    align-content: center; 
    text-align:center;
}

.button1 {
    background-color:blueviolet;
    font-size:30px;
    color:whitesmoke;
    margin-top:2ch;
    margin-right: 20px;
    margin-left: 20px;
    align-content:center;
    padding:5px;
    border-color:blueviolet;
}

/* scam pages */
.scamA{
    color:red;
}
.scamB{
    color:yellow;
}