#indexbg {
    background-image: url(/static/shockgif.gif);
}

#scam1bg{
    background-image: url(/static/_.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}

#scam2bg{
    background-image: url(/static/_\ copy.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}
.indextitle{
    font-size: 45px;
    color:white;
    padding-top:12ch;
    text-align:center;
}

.colortitle{
    color:rgb(58, 58, 58);
    font-size:60px;
    animation:colorchange 3s infinite;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 34%;
    }
.centerbutton {
    justify-self:center; 
    justify-items: center;
    align-content: center; 
    text-align:center;
}

.button1 {
    background-color:blueviolet;
    font-size:25px;
    color:whitesmoke;
    margin-top:2ch;
    margin-right: 20px;
    margin-left: 20px;
    align-content:center;
    padding:5px;
    border-color:blueviolet;
}



/* scam buttons positioning*/
#topleft{
    position:absolute;
    margin:10px;
    left: 10px;
    top: 10px;
}
#topright{
    display:flex;
    position:absolute;
    margin:10px;
    right: 10px;
    top: 10px;
}
#bottomleft{
    position:absolute;
    margin:10px;
    left: 10px;
    bottom: 10px;
}
#bottomright{
    position:absolute;
    margin:10px;
    right: 10px;
    bottom: 10px;
}

/* scam buttons styling */
.scamstyling{
    background-color:blue;
    padding: 25px;
    animation:colorchange 5s infinite;
    /* color changing animation ^ */
}
@keyframes colorchange{
    0% {background:white;}
    5% {background:red;}
    10% {background:orange;}
    15% {background:yellow;}
    20% {background:yellowgreen;}
    25% {background:green;}
    30% {background:blue;}
    35% {background:blueviolet;}
    40% {background:purple;}
    45% {background:pink;}
    50% {background:white;}
    55% {background:white;}
    60% {background:red;}
    65% {background:orange;}
    70% {background:yellow;}
    75% {background:yellowgreen;}
    80% {background:green;}
    85% {background:blue;}
    90% {background:blueviolet;}
    95% {background:purple;}
    100% {background:pink;}
}
.textstyle{
    font-size:35px;
    color:yellow;
}

