<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A.I or Real</title>
    <style>
        .indextitle{
            font-size: 45px;
            padding-top:12ch;
            text-align:center;
        }
        .scamA{
            color:blue;
        }
        .scamB{
            color:purple;
        }
    </style>
</head>
<body>
    <button type="button" class="scamA"><a href="scam1.html">Click Me!Scam1</a></button>
    <button type="button" class="scamB"><a href="scam2.html">Click Me!Scam2!</a></button>

    <h1 class="indextitle"><a href="/1">A.I or Real</a></h1>

<button type="button" class="scamA"><a href="scam2.html">Click Me!Scam2</a></button>
<button type="button" class="scamB"><a href="scam1.html">Click Me!Scam1</a></button>

    
</body>
</html>
