<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A.I or Real</title>
    <link rel="stylesheet" href="/static/styles.css">
    
</head>
<body id="indexbg">

 <div id="topright">
    <button type="button" class="scamstyling"><a href="scam1.html" class="textstyle">Click Me!!!!</a></button>
</div>

<div id="topleft">
    <button type="button" class="scamstyling"><a href="scam2.html" class="textstyle">Click Me!!!!</a></button>
</div>

<h1 class="indextitle"><a href="/1" class="colortitle">A.I or Real</a></h1>

<div id="bottomleft">
    <button type="button" class="scamstyling"><a href="scam1.html" class="textstyle">Click Me!!!!</a></button>
</div>

<div id="bottomright">
    <button type="button" class="scamstyling"><a href="scam2.html" class="textstyle">Click Me!!!!</a></button>
</div>



<!-- <div class="bottomleftright">
<button type="button"><a href="scam1.html">Click Me!Scam1</a></button>
<button type="button"><a href="scam2.html">Click Me!Scam2!</a></button>
</div> -->

<!-- <h1 class="indextitle"><a href="/1">A.I or Real</a></h1> -->

<!-- <div class="topleftright">
<button type="button"><a href="scam2.html">Click Me!Scam2</a></button>
<button type="button"><a href="scam2.html">Click Me!Scam2</a></button>
</div> -->

</body>
</html>
