<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Money = Gone, Thanks!</title>
</head>
<body id="scam1bg">
    <a href="/">Back</a>
    <h1 class="scamtext"> Dude...go back and play the game</h1>
    <h1 class="scamtext">But since you're here....go ahead and send some money to my cashapp: $micahwnh</h1>
</body>
</html>