<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        .background{
            background-color: blanchedalmond;
        }
    </style>
    <title>Don't click on random links</title>
</head>
<body id="scam2bg">
    <a href="/">Back</a>
    <!-- <h1 class="scamtext">Go back and play the game...</h1>
    <h1 class="scamtext">Stop clicking on random stuff</h1>
    <h1 class="scamtext">But since you're here....if you wanna give me some money *pause for laughter* you can</h1> -->

    <h1 class="scamtext"> Hello my name is Micah and I have been in Code Next for the last four years.</h1>
    <h1 class="scamtext">This is a project that I worked on over the summer in Code Next's Team Edge summer program. I had so much fun in this program and I'm sad it's ending :[</h1>
    <h1 class="scamtext">I am forever grateful for the awesome people I've met, amazing coaches I've had, and the things I learned.</h1>
</body>
</html>