<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Yay You're Done!</title>
    <style>
        h1{
            text-align: center;
        }
    </style>
</head>
<body id="scorebg">
   <h1 class="scoretxt">You got a score of: {{ scorevar }} !!!!</h1>
   <a href="/aboutmyproject">Unlock the secrets of this website!</a>
</body>
</html>